* {
    text-align: center;
    background-color: azure;
    font-family: 'Times New Roman', Verdana, serif;
}

h2{
    margin: 0;
    padding: 19px 0 19px 0;
}

li, p{
    font-size: 20px;
}

ul li,
.subheader{
    text-align: center;
}

ol li{
    text-align: center;
}

ul{
    list-style-position: inline;
    padding-left: 0px;
}

img{
    width: 50%;
    height: auto;
}

p{
    text-align: left;
    margin: 0px;
    padding: 10px;
    background-color: rgb(184, 117, 29);
}

.description{
    display: inline-block;
    width: 100%;
}

.top{
    border: 3px solid black;
    display: inline-block;
    width: 49%;
}

.bottom{
    border: 3px solid black;
    display: block;
    width: 100%;
}

#lemon-bars{
    display: inline-block;
    width: 100%
}

#chocolate-chip{
    display: inline-block;
    width: 70%
}

#tres-leches-pic{
    display: inline-block;
    width: 30%
}